<div id="container">
  <div id="welcome">
    <h1 id="description">Welcome</h1>
    <h3>This web appliction is a project to experiment and provide a glimpse into the power of Twitter's API.</h3>
    <h3>The Twitter firehose blasts appromately 20,000 tweets per second around the globe. Twitter offers a sample (1%) of the steaming firehose for free through the use of their streaming API where user's can track keywords.</h3></br>
    <h1 class="desc">Meat Me ASAP</h1>
    <h3>To demonstrate the 'search' API Meat Me ASAP will query previously posted tweets with images and the keyword steak (among other filters in an attempt to keep it relevant to steak).</h3></br>
    <h1 class="desc">Twit Roulette</h1>
    <h3>To demonstrate the Firehose Sample API users can enter a search keyword and an amount of time to collect tweets that are streaming at that moment. 
    </h3>
  </div>
</div>
